<div class="contenido">
    <div class="detalle">
        <div class="imagen">
            <img [src]="contenido.url">
        </div>
        <div class="informacion">
            <h2>{{contenido.titulo}}</h2>
            <div class="generos">
                <ul *ngFor="let item of contenido.genero">
                    <li>{{item}}</li>
                </ul>
            </div>
            <p>{{contenido.descripcion}}</p>
            <i>Calificacion: {{contenido.calificacion}}</i>
        </div>
    </div>
    <iframe width="560" height="315" [src]="safeUrl" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>