<footer>
    <div class="elementos">
        <div class="logo"><img src="../../../assets/img/Logo.png" alt="logo">
            <h2>PELIS AJC</h2>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i
                    class="fa-brands fa-square-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
    </div>
    <div class="info">
        <p>Página realizada por Ana Sofía Martínez, Jhon Stiven Arcila, Juan Camilo Quintero.</p>
    </div>
</footer>