.contenido {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 400px 0 100px 0;
    background-color: #282782;
    position: relative;
}

.contenido .elementos {
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000 100px, #0a0920, #282782);
    padding-top: 50px;
}

.contenido h1 {
    font-size: 55px;
    color: white;
}

.buscador {
    background-color: #d9d9d9;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.buscador input {
    border: none;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 0px 10px;
    width: 100%;
    font-size: 15px;
    height: 50px;
}

.buscador input:focus {
    outline: none;
}

.generos {
    width: 80%;
}

.generos-peliculas,
.generos-series {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.generos-peliculas button,
.generos-series button {
    cursor: pointer;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.portadas {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.portadas .portada {
    width: 200px;
    height: 280px;
    display: flex;
    position: relative;
    opacity: 0.9;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
}

.portadas .portada:hover {
    transform: scale(102%);
    opacity: 0.7;
}

.portadas .portada img {
    width: 100%;
}

.portadas .portada .categoria {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0a0920;
    color: white;
    padding: 5px;
}

/*Detalle */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
}

.modal-content {
    margin: auto;
    overflow-y: auto;
    width: 90%;
    height: 80%;
}


.modal .modal-content .contenido {
    background-color: #282782;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-image: linear-gradient(to bottom, #000000 100px, #0a0920, #282782);
    padding: 70px 0;
}

.modal .modal-content .contenido .detalle {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0000007a;
    padding-right: 50px;
}


.modal .modal-content .contenido .detalle .imagen {
    background-color: gray;
    width: 220px;
    height: 300px;
    display: flex;
}

.imagen img {
    width: 100%;
}


.modal .modal-content .contenido .detalle .informacion {
    position: relative;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    padding: 70px 10px 5px 10px;
}

.modal .modal-content .contenido .detalle .informacion ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.modal .modal-content .contenido .detalle .informacion .generos {
    display: flex;
    gap: 40px;
}

.modal .modal-content .contenido .detalle .informacion i {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal .modal-content .contenido .detalle .informacion p {
    text-align: justify;
}

@media screen and (max-width: 1200px) {

    .modal .modal-content .contenido .detalle {
        width: 950px;
    }
}

@media screen and (max-width: 992px) {


    .modal .modal-content .contenido .detalle {
        width: 700px;
        padding: 10px;
    }

    .modal .modal-content .contenido .detalle .imagen {
        width: 200px;
        height: 280px;
    }

    .modal .modal-content .contenido .detalle .informacion {
        width: 450px;
    }
}

@media screen and (max-width: 768px) {

    .contenido h1 {
        font-size: 45px;
    }

    .contenido .elementos {
        gap: 50px;
    }

    .contenido {
        margin: 50px 0;
    }

    .buscador {
        width: 400px;
    }

    .portadas {
        gap: 25px 15px;
    }

    .portadas .portada {
        width: 180px;
        height: 260px;
    }

    .modal .modal-content .contenido .detalle {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 400px;
    }

    .modal .modal-content .contenido .detalle .informacion {
        width: 300px;
        height: auto;
    }

    .modal .modal-content .contenido .detalle .imagen {
        width: 180px;
        height: 260px;
        justify-content: center;
    }

    .modal .modal-content iframe {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {

    .contenido h1 {
        font-size: 38px;
        text-align: center;
    }

    .buscador {
        width: 235px;
        height: 45px;
    }

    .portadas {
        gap: 30px;
    }

    .portadas .portada {
        width: 140px;
        height: 220px;
    }

    .modal .modal-content iframe {
        width: 250px;
        height: 170px;
    }

    .modal .modal-content .contenido .detalle {
        gap: 50px;
        width: 85%;
    }

    .modal .modal-content .contenido .detalle .informacion {
        width: auto;
        height: auto;
    }

    .modal .modal-content .contenido .detalle .informacion .generos {
        flex-direction: column;
        gap: 5px;
    }
}